/* How do I get the gif to cover the whole screen?
        - 1024 x 768
*/

/*Background and container */
body{
    background-image: url(../images/background.jpg);
}

.main{

    width: 600px;
    margin: 50px auto;
    background-color: brown;
    padding: 50px 20px;
}

/*Start Page */
.header{
    font-size: 50px;
    color: white; 
    text-align: center;
    font-family: 'Skranji', cursive;
}

.startGame{

        background-color: red;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        align-items: center;
        font-size: 16px;
        margin: 0px 240px;    
}
/*Question Page */

.question {
    font-family: 'Skranji', cursive;
    color: white;


}
form {
    color: white;
    font-family: 'Skranji', cursive;

}

.timer{
    color: white;
    font-family: 'Skranji', cursive;
    font-size: 30px;
    text-align: center;
}



.submit{
    background-color: red;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    align-items: center;
    font-size: 16px;
    margin: 0px 240px; }

/*
End Screen
*/

#endHeader {
    font-size: 30px;
    text-align: center;
    font-weight: bold; 
    color: white;
}

.results{
    font-size: 20px;
    font-weight: bold;
    color: white;
}


.restart {
    background-color: red;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    align-items: center;
    font-size: 16px;
    margin: 0px 240px; }
}





